Build
Build.bat
/build/
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
.vs/*
/src/TAGS
/.vscode/
build-linux/*
deps/build*
deps/build-linux/*
**/.DS_Store
**/.idea/
.pkg_cache
CMakeUserPresets.json
build-default/CMakeCache.txt
build-default/.cmake/api/v1/query/client-vscode/query.json
build-default/CMakeFiles/cmake.check_cache
build-default/CMakeFiles/CMakeConfigureLog.yaml
build-default/CMakeFiles/4.0.2/CMakeCCompiler.cmake
build-default/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
build-default/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
build-default/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
build-default/CMakeFiles/4.0.2/CMakeSystem.cmake
build-default/CMakeFiles/4.0.2/CompilerIdC/a.out
build-default/CMakeFiles/4.0.2/CompilerIdC/apple-sdk.c
build-default/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
build-default/CMakeFiles/4.0.2/CompilerIdCXX/a.out
build-default/CMakeFiles/4.0.2/CompilerIdCXX/apple-sdk.cpp
build-default/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-default/src/libslic3r/libslic3r_version.h
